
.chart__title {
    position: relative;
    top: -10px;
    width: 20%;
    color: #20253A;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}
.recharts-legend-wrapper{
    top: -10px !important;
}
.recharts-legend-item {
    align-items: center;
}
.recharts-legend-item-text {
    color: #74798C !important;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 7px;
}
.tooltip__style {
    display: flex;
    flex-direction:column;
    padding: 10px;
    background-color: #FF0000;
    color:#FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.activity {
    margin-bottom: 30px;
    .activity-legend-container {
        display: flex;
        align-items: center;

        span {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
          }
        .activity-legend {
            display: flex;
            align-items: center;
        }
        .legend-circle {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-right: 10px;
            margin-left: 20px;
          }
          span {
            font-size: 14px;
            color: rgba(116, 121, 140, 1);
            margin-right: 20px;
          }
    }
    .flex-1 {
        flex: 1;
      }
    max-height: 320px;
}
