.perfomance__chart__container{
    width: 33%;
    height: 280px;
    border-radius: 5px;
    background: #282D30;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    padding: 10px;
    margin-right: 30px;
} 
.recharts-polar-angle-axis-tick-value {
    fill: #ffffff;
}